nodered_webapp.json
[{"id":"eac18cd4.95c108","type":"http in","z":"deb0d57.1c46528","name":"","url":"/myrecord","method":"post","upload":false,"swaggerDoc":"","x":121.5,"y":111.5,"wires":[["57811f35.3500e","4ea7fb65.130d1c"]]},{"id":"57811f35.3500e","type":"cloudant out","z":"deb0d57.1c46528","name":"","cloudant":"","database":"mydb","service":"dotnsf-nodered-webapp-cloudantNoSQLDB","payonly":true,"operation":"insert","x":378.5,"y":113.5,"wires":[]},{"id":"4ea7fb65.130d1c","type":"http response","z":"deb0d57.1c46528","name":"","statusCode":"","headers":{},"x":270.5,"y":213,"wires":[]},{"id":"29364189.cb3e26","type":"http in","z":"deb0d57.1c46528","name":"","url":"/myrecords","method":"get","upload":false,"swaggerDoc":"","x":134.5,"y":297.5,"wires":[["51753cc0.d056c4"]]},{"id":"51753cc0.d056c4","type":"cloudant in","z":"deb0d57.1c46528","name":"","cloudant":"","database":"mydb","service":"dotnsf-nodered-webapp-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":250,"y":340,"wires":[["f946ff1a.2c3ca8"]]},{"id":"f946ff1a.2c3ca8","type":"http response","z":"deb0d57.1c46528","name":"","statusCode":"","headers":{},"x":430,"y":380,"wires":[]},{"id":"4bac09b1.1d1c4","type":"http in","z":"deb0d57.1c46528","name":"","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":116.5,"y":427.5,"wires":[["aca96b4e.bd5f58"]]},{"id":"aca96b4e.bd5f58","type":"template","z":"deb0d57.1c46528","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n<title>Countries & Capitals</title>\n<script src='//code.jquery.com/jquery-2.2.4.min.js'></script>\n<script>\n$(function(){\n  $('#myform').submit( function(){\n    $.ajax({\n      type: 'POST',\n      url: '/myrecord',\n      data: { country: $('#country').val(), capital: $('#capital').val() },\n      success: function( data ){\n        console.log( data );\n        setTimeout( 'list()', 1000 );\n      },\n      error: function(){\n        console.log( 'error' );\n      }\n    });\n    return false;\n  });\n  list();\n});\nfunction list(){\n  $('#list').html( '' );\n  $.ajax({\n    type: 'GET',\n    url: '/myrecords',\n    success: function( data ){\n      if( data && data.length > 0 ){\n        for( var i = 0; i < data.length; i ++ ){\n          var doc = data[i];\n          var tr = '<tr><td>' + doc.country + '</td><td>' + doc.capital + '</td></tr>';\n          $('#list').append( tr );\n        }\n      }\n    },\n    error: function(){\n      console.log( 'error' );\n    }\n  });\n}\n</script>\n</head>\n<body>\n  <table border='1'>\n  <thead>\n  <tr><th>Country</th><th>Capital</th><tr>\n  </thead>\n  <tbody id='list'>\n  </tbody>\n</table>\n<hr/>\n\n<form method='POST' id='myform'>\n  Country: <input type='text' id='country' name='country' value=''/><br/>\n  Capital: <input type='text' id='capital' name=\"capital\" value=''/><br/>\n  <input type='submit' value='click'/>\n</form>\n</body>\n</html>\n","output":"str","x":310,"y":440,"wires":[["a77e3f1b.37c828"]]},{"id":"a77e3f1b.37c828","type":"http response","z":"deb0d57.1c46528","name":"","statusCode":"","headers":{},"x":530,"y":480,"wires":[]}]
